
        body {
            background-color: #008cff;
            background-image: "img/MR_T_Background.jpg" ;
            background-position: center;    
        }

        header, footer {
            height: 160px;
            background-color: #0a487e;
            position: center;

        }

        h1 {
            text-indent: -9999px;
            width: 940px;
            height: 130px;
            margin: 0px;
        }
        
        
        nav, footer {
            clear: both;
            color: #000000;
            background-color: #bd5b9f;
            height: 30px;
        }

        nav ul {
            margin: 0px;
            padding: 5px 0px 5px 30px
        }

        nav li {
            display: inline;
            border: solid black 1pt;
            display: inline;
            margin-right: 40px;
        }

        nav li a {
            color: #ffffff;
        }

        section.shop {
            float: left;
            width: 659px;
            border-right: 1px solid #eeeeee;
        }

        article {
            clear: both;
            overflow: auto;
            width: 100%;
        }

        hgroup {
            margin: 40px;
        }

        figure {
            float: left;
            width: 400px;
            height: 400px;
            padding: 5px;
            margin: 20px;
            border: 1px solid #eeeeee;
        }

        figcaption {
            font-size: 90%;
            text-align: left;
        }

        aside {
            width
        }

        img {
            height: 100%;
            width: 100%;
        }

        p {
            background-color: burlywood;
            height: 100%;
            width: 100%;
            border: solid black 1pt;
        }

    
        .container {
            position: relative;
            width: 50%;
            }

        .container:hover .overlay {
            opacity: 1;
            }
                
        .text {
            color: white;
            font-size: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
          }    


        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: #008CBA;
          }

          .image {
            display: block;
            width: 100%;
            height: 100%;
          }
        