
        body {
            background-color: #008cff;
            background-image: "img/MR_T_Background.jpg" ;
            background-position: center;    
        }

        header, footer {
            text-emphasis-color: #d4d424;
            height: 150px;
            background-color: #0a487e;
            position: center;

        }

        h1 {
            color: aqua;
            width: 1000px;
            height: 130px;
            margin: 5px;
        }
        
        
        nav, footer {
            clear: both;
            color: #ceb7b7;
            background-color: #1b0f61;
            height: 30px;
        }

        nav ul {
            margin: 0px;
            padding: 5px 0px 5px 30px
        }

        nav li {
            display: inline;
            border: solid black 1pt;
            display: inline;
            margin-right: 40px;
        }

        nav li a {
            color: #ffffff;
        }

        section.shop {
            float: left;
            width: 659px;
            border-right: 1px solid #eeeeee;
        }

        article {
            clear: both;
            overflow: auto;
            width: 100%;
        }

        hgroup {
            margin: 40px;
        }

        figure {
            float: left;
            width: 400px;
            height: 400px;
            padding: 5px;
            margin: 20px;
            border: 1px solid #eeeeee;
        }

        figcaption {
            font-size: 90%;
            text-align: left;
        }

        aside {
            width: 230px;
            float: left;
            padding: 0px 0px 0px 20px;
        }

        aside section a {
            display: block;
            padding: 10px;
            border-bottom: 1px solid #eeeeee
        }

        aside section a:hover {
            color: #985d6a;
            border-bottom: #efefef;
        }

        a {
            color: #de6581;
            text-decoration: none;
        }

        h1 {
            text-decoration-color: #ffffff;
            font-size: 128px;
            background-color: rgb(88, 7, 7);
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-stretch: extra-expanded;
            margin: 0px;
            padding: 0px;
        }

        h2 {
            margin: 10px 0px 5px 0px;
            padding: 0px;
        }

        h3 {
            margin: 0px 0px 10px 0px;
            color: #de6581

        }

        img {
            height: 100%;
            width: 100%;
        }

        p {
            background-color: burlywood;
            height: 100%;
            width: 100%;
            border: solid black 1pt;
        }

    
        .container {
            position: relative;
            width: 50%;
            }

        .container:hover .overlay {
            opacity: 1;
            }
                
        .text {
            color: white;
            font-size: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
          }    


        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: #008CBA;
          }

          .image {
            display: block;
            width: 100%;
            height: 100%;
          }
        